<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="http://localhost/HOME/VALID?echostr=1&Token=2" method="post">
        <input type="text" id="encodingaeskey" name="encodingaeskey" value="test" />
        <input type="text" id="body" name="body" value="<xml><URL><![CDATA[http://localhost/HOME/VALID]]></URL><ToUserName><![CDATA[gzxttkx]]></ToUserName><FromUserName><![CDATA[wx02212c8d21fa8c20]]></FromUserName><CreateTime>111111111</CreateTime><MsgType><![CDATA[text]]></MsgType><Content><![CDATA[test]]></Content><MsgId>2323</MsgId></xml>" />
        <input type="submit" value="submit" />
    </form>
</body>
</html>